.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 10vw;
}

.not-found p {
    text-align: center;
    max-width: 30ch;
    color: rgb(68, 68, 68);
}

.not-found a {
    color: var(--primary-theme);
    font-size: 1rem;
    font-weight: 600;
    transition: transform 0.3s ease-in-out;
}

.not-found a:hover {
    transform: scale(1.2);
}


@media (min-width: 700px) {
}

